.container {
  position: fixed;
  right: 0;
  bottom: 0;

  max-width: 384px;
}
.toast {
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.toastMessage {
  margin-bottom: 8px;
  text-align: center;
}
.toastButtons {
  display: flex;
  gap: 16px;
}
